* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
}

.hoverr:hover {
    color: #ff523b;
}

.navbar {
    display: flex;
    align-items: center;
    box-shadow: 5px 10px #888888:

}

.navbar #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #ff523b;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 3px;
    height: 50px;
    width: 50px;
}

#myBtn:hover {
    background-color: rgb(223, 135, 135);
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;

}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #555;
    font-size: 17px;
}

a {
    text-decoration: none;
    color: #555;
    font-size: 15px;
}

p {
    color: #555;
}

h1 {
    color: #555;
}

.footer-col-3 ul li a:hover {
    color: #df6050;
}

.footer-col-4 ul li a:hover {
    color: #df6050;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -470px;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 40px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: .5s;
}

.input-data {
    height: 40px;
    width: 200px;
    position: relative;
    display: flex;
    outline: none;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.input-data input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}

.input-data input:focus~label,
.input-data input:valid~label {
    transform: translateY(-20px);
    font-size: 15px;
    color: #4158d0;
}

.input-data label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: gray;
    pointer-events: none;
}

.btn:hover {
    background: #e29494;
}

.header {
    /* background: radial-gradient(white , #ffd6d6); */
}

.header .row {
    margin-top: 70px;
}

.categories {
    margin: 30px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform .7s;
}

.col-3 img {
    width: 310px;
    height: 205px;
}

.categories .col-3:hover {
    -ms-transform: scale(0.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.2);
}

.poster-img {
    padding: 50px;
    transition: transform .5s;
    margin: 0 auto;
}

.poster-img:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 500px;
    transition: transform .5s;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}


/* LÀM DẤU GẠCH DƯỚI SẢN PHẨM NỔI BẬT */

.title::after {
    content: '';
    background: #ff523b;
    width: 50%;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

h4:hover {
    color: #ff523b;
}

.col-4 p {
    font-size: 14px;
}


/* .col-4 img {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 5 );
  } */

.rating .fa {
    color: #ff523b;
    font-size: 13px;
}

.rating .far {
    color: #ff523b;
    font-size: 13px;
}

.col-4:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px 0 rgba(102, 100, 100, 0.2), 0 6px 20px 0 rgba(102, 100, 100, 0.19);
}

.hu {
    height: 316.66px;
}

.poster {
    margin-top: -550px;
    padding: 30px 0;
}

.col-2 .poster-img {
    padding: 50px;
}

small {
    color: #555;
}

.small-container .row-ok {
    padding: 0 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.comment {
    padding-top: 70px;
}

.comment .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.comment .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
    height: auto;
}

.comment .col-3:hover {
    transform: translateY(-10px);
}

.title::after {
    content: '';
    background: #ff523b;
    width: 180px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.fa.fa-quote-left {
    font-size: 20px;
    color: #ff523b;
}

.col-3 p {
    font-size: 14px;
    margin: 12px 0;
    color: #777;
}

.nhan-xet .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
    background: rgb(209, 92, 92);
}

.footer {
    color: #8a8a8a;
    font-size: 15px;
}

.footer p {
    color: #555;
}

.footer h3 {
    color: #555;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
    line-height: 2;
    color: #555;
}

li {
    font-size: 15px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
    width: 80%;
}

.copyright {
    text-align: center;
    font-size: 15px;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}


/* MEDIA QUERY FOR MENU */

@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }
    .row-ok {
        text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
}

.gio-hang {
    margin: 80px auto;
}

T {
    width: 100%;
    border-collapse: collapse;
}

.ten-san-pham {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    color: #ff523b;
    font-weight: normal;
    width: 2220px;
}

td {
    padding: 10px 5px;
}


/* td input {
    width: 40px;
    height: 35px;
    padding: 5px;
} */

td a {
    color: #ff523b;
    font-size: 13px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.voucher {
    width: 100px;
}

.tong-tien {
    display: flex;
    float: right;
}

#my-img:hover {
    content: url('https://vux1512.github.io/Vuxx-FOOD/images/cua-hoang-de-hap.png');
    transition: 1.5;
}

.tong-tien table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: center;
}

.dat-hang {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 3px;
    transition: .2s;
}

.dat-hang:hover {
    background: #e47d6f;
}

.shiper {
    height: 40px;
    width: 175px;
    border: 2px solid #ff523b;
    border-radius: 3px;
}

.form {
    text-align: center;
    margin-top: 40px;
    max-width: 420px;
    margin: 50px auto;
}

#form1 input[type=text] {
    color: #555;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 17px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #ff523b;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    outline: 0;
}

#form1 #fcontent {
    height: 100px;
}

#form1 input[type=submit] {
    color: rgb(245, 235, 235);
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 20px;
    background-color: #ff523b;
    border: 2px solid #ff523b;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    height: 47px;
    box-sizing: border-box;
    outline: 0;
}

#form1 input[type="submit"]:hover {
    background: #ff523b;
}

.page-btn {
    margin: -450px 50px;
    color: #000;
    float: right;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: #ff523b;
    color: #fff;
}

.anh-bai-viet-moi {
    width: 300px;
    height: 200px;
    box-shadow: #ff523b;
}

.titlee {
    color: #555;
}

.box {
    height: 45px;
    width: 45px;
    background-color: #fff;
    border-radius: 50%;
    margin-top: 0px;
    margin-left: 180px;
}

.fa-search {
    font-size: 17px;
    margin-top: 15px;
    color: #ff523b;
}

.fa-heart {
    font-size: 17px;
    margin-top: 15px;
    color: #ff523b;
}

.fa-shopping-cart {
    font-size: 17px;
    margin-top: 15px;
    color: #ff523b;
}

.box:hover {
    background-color: #dbc8c5;
}

.box {
    margin-top: 7px;
}

.icon_anh {
    transition-duration: 0.4s;
    padding: 0px;
    margin-top: 10px;
    position: absolute;
    display: none;
}

.col-4:hover .icon_anh {
    display: inline;
}


/* tab */


/* Style tab links */

.tablink {
    color: #fff;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    background-color: #e9b6b6;
}

.tablink:hover {
    background-color: #e96e5e;
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#cua {
    background-color: #fff;
}

#tom {
    background-color: #fff;
}

#muc {
    background-color: #fff;
}

#ca {
    background-color: #fff;
}

#ngao {
    background-color: #fff;
}

#so {
    background-color: #fff;
}

.huhu .huhuhu {
    background-color: #ff523b;
    width: 1000px;
    height: 500px;
    float: right;
    margin-top: -700px;
}


/* Lien he voi chung toi */

.contact {
    width: 1200px;
    float: right;
    margin-right: 220px;
}

.img_contact_us {
    height: 500px;
    background-color: #ff523b;
}

.img_contact_us img {
    margin-top: -50px;
}

.title_contact_us {
    height: 500px;
}

.title_contact_us p,
h2,
h3 {
    color: #ff523b;
}

.title_contact_us p {
    font-size: 17px;
}

.title_contact_us h2 {
    font-size: 30px;
}

.row .dat_ban {
    background-color: #ff523b;
    height: 35px;
    width: 100px;
    margin-top: 20px;
    border-radius: 5px;
    margin-right: 35px;
}

.row .dat_ban p {
    color: #fff;
    align-items: center;
    margin-left: 18px;
    margin-top: 5px;
}

.row .dat_ban:hover {
    background-color: #e47d6f;
}

input[type=text]:hover {
    box-shadow: 0 0 5pt 0.5pt #e47d6f;
}

input[type=text]:focus {
    box-shadow: 0 0 5pt 2pt #e9b1aa;
    outline-width: 0px;
}

.danh_gia_khach_hang {
    color: #ff523b;
    margin-top: 100px;
    align-items: center;
    margin-top: 20px;
}

.col-4 cot1 {
    background: #df6050;
}

.simple-search button {
    padding: 10px 20px;
    color: white;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #ff523b;
}

.simple-search input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    -webkit-appearance: none;
    font-size: 14px;
    font-weight: 500;
}

 :root {
    --primary: #08aeea;
    --secondary: #13D2B8;
    --purple: #bd93f9;
    --pink: #ff6bcb;
    --blue: #8be9fd;
    --gray: #333;
    --font: "Poppins", sans-serif;
    --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
    --shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

img {
    /* display: block; */
    max-width: 100%;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    font-size: 1.4rem;
    font-weight: 300;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-appearance: none;
}

button {
    cursor: pointer;
}

.simple-search {
    width: 30%;
    display: flex;
    padding: 5px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #eee;
    height: 50px;
}

.simple-search button {
    padding: 10px 20px;
    color: white;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #ff523b;
}

.simple-search input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    -webkit-appearance: none;
    font-size: 15px;
    font-weight: 500;
}
.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
  }

  /* media query for menu */

  @media only screen and (max-width: 800px) {
    nav ul {
      position: absolute;
      top: 80px;
      left: 0;
      background: #333;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.7s;
    }
    nav ul li {
      display: block;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    nav ul li a {
      color: #fff;
    }
    .menu-icon {
      display: block;
    }
    .an {
      display: none;
    }
    .spnb {
      margin-top: -450px;
    }
    .poster-img {
      display: none;
    }
    .salee {
      display: none;
    }
    .ann h1 {
      font-size: 20px;
    }
    .page-btn {
      /* display: none; */
      margin-top: ;
    }
    .img_contact_us {
      display: none;
    }
    .title {
      display: none;
    }
    .contact {
      display: none;
    }
    .danh_gia_khach_hang {
      margin-top: 850px;
    }
    .an_sp {
      display: none;
    }
    .sp {
      margin-top: -450px;
    }
    .page-btn {
      display: none;
    }
    .comment {
      margin-right: 60px;
    }
    .gach_ngang {
      display: none;
    }
    .copyright {
      margin-bottom: 50px;
    }
    .mobile_title {
      margin-top: -150px;
    }
    .footer {
        display: none;
    }

  }

  /*  */

  @media only screen and (max-width: 600px) {
    .row {
      text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
      flex-basis: 100%;
    }
  }

  @media only screen and (min-width: 801px) {
    .an_pc {
        display: none;
    }

  }